<mat-toolbar *ngIf="isMobile" class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span *ngIf="!searchBarVisible" class="title">{{ title }}</span>
  </div>
  <div fxHide.lt-md>
    <button mat-icon-button routerLink="" routerLinkActive="active">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <a class="brand" routerLink="" routerLinkActive="active" translate>APP_NAME</a>
  </div>
  <span fxFlex></span>
  <mat-search-bar #searchBar [ngClass]="{fieldWidth: searchBarVisible}" (onOpen)="handleOpen()" (onClose)="handleClose()"></mat-search-bar>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu>
</mat-toolbar>
