<mat-toolbar *ngIf="isMobile" class="mat-elevation-z6 navbar" color="accent">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span *ngIf="!searchBarVisible" class="title">{{ title }}</span>
  </div>
   <span fxFlex></span>
  <mat-form-field  [ngStyle]="{'display': displayStyle}" class="example-full-width">
    <input matInput placeholder="Search your places" (keyup)="onKey($event)" #searchInput name="searchInput">
  </mat-form-field>
  <button *ngIf="!searchBarVisible" mat-icon-button (click)="triggerSearchbarOn()">
    <mat-icon>search</mat-icon>
  </button>
  <button *ngIf="searchBarVisible" mat-icon-button (click)="triggerSearchbarOff()">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu>
</mat-toolbar>
