<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div *ngIf="!isMobile" class="mdc-layout-grid__cell--span-12">
      <div class="container">
          <h1 class="appTitle" >Travelbook</h1>
        </div>
    </div>
  </div>
  <div class="mdc-layout-grid__inner">
    <div [ngStyle]="{ display: isMobile ? 'none' : 'block' }" class="mdc-layout-grid__cell--span-12 createPlaceForm">
      <div class="container mainContent">
        <form class="createplace-form">
          <h1>Create a new place</h1>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Enter place name"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="off"
              type="text"
              #search
            />
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>

  <app-places></app-places>

  <div class="mdc-layout-grid__inner">
    <div *ngIf="isMobile" class="mdc-layout-grid__cell--span-12">
      <div class="container">
        <button
          class="addCityButton"
          mat-fab
          raised
          aria-label="add city button"
          (click)="openCreateDialog()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>