.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.createplace-form {
  width: 50%;
}

.appTitle {
  font-size: 90px;
}

.headerbkg {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 10%;
  height: 53px;
  z-index: 1;
}

.mat-form-field {
  font-size: 24px;
}

.addCityButton {
  border-radius: 25px;
  font-weight: 400;
  position: fixed;
  bottom: 5%;
}
